@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin:ital,wght@0,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  
    font-family: 'Abril Fatface', serif;
    font-family: 'Cabin', sans-serif;
}


.colmar-body{
    background-color: rgb(233, 233, 233);
}


a{
    color: #5c5c5c;
}
a:link {
    
  
   
    text-decoration: none;
   
   
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    
   
    
    text-decoration: underline;
  }

/*header-style*/

.cm-header{
    width: 100%;
    display: flex;
    height: 64px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
.cm-nav{
    flex: 1;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
}
.nav-left{
   
    margin-left: 24px;
  height: 50px;
 
    display: flex;
    /* background-color: blueviolet; */
    align-items: center;
}
.navl-item1{
    /* background-color: rgb(120, 234, 110); */
    align-items: center;
   display: flex;
}
.navl-item1 img{
    height: 55px;
    
}
.navl-item2{
    color: rgb(90, 89, 89);
    font-weight: 700;
    font-size: 32px;
}
.navl-item3{
    color: rgb(155, 156, 156);
    font-size: 32px;
}
.nav-right{
   
   font-size: 1.5rem;
    margin-right: 24px;
    justify-content: end;
    flex: 1;
    /* background-color: wheat; */
    display: flex;
    align-items: center;
    gap:16px
}
/*header-style*/



/*section-hero-style*/
.hero{
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    display: flex;
    background-color: rgb(220, 220, 220);
    height: 100vh;
    gap:24px;
}
.hero-left{
    
    margin: 32px 0px 32px 24px;
    
    flex: 3;
    /* background-color: blanchedalmond; */
}

.hero-left img {
   height: 100%;
   width: 100%;
    
    object-fit: cover;
    object-position: center;
}
.hero-right{
    margin: 32px 24px 32px 0px;
    

    flex: 2;
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    
}



.hr-item-1{
    color: #4e4e4e;
    margin-top: 100px;
   
    width: 80%;
    /* background-color: rgb(76, 112, 112); */
    font-size: 4rem;
    font-weight: 700;

}
.hr-item-2{
    color: #4e4e4e;
    margin-top: 30px;
    font-size: 1.8rem;
   width: 80%;
    /* background-color: antiquewhite; */
}
.hr-item-3{
color: white;
text-align: center;
font-size: 2rem;
width: 80%;
padding-top: 8px;
padding-bottom: 8px;
   margin-top: 50px;
    background-color: #4e4e4e;
}
/*section-hero-style*/


/*section-information-style*/
.information{
    display: flex;
    height: 100vh;
    background-color: rgb(237, 247, 248);
    gap: 24px;
}
.inform-l{
    flex: 3;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
   
}

.image-inform-l{
    margin-left:24px;
    margin-top: 32px;
    /* background-color: #fff8f8; */
    height: 100vh;
    margin-bottom: 32px;
    overflow: hidden;
}

.image-inform-l img{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    
    
}


.inform-item-l1{
    color: #4e4e4e;
    letter-spacing: 4px;
    margin-left:24px;
    font-size :2rem;
    font-weight: 700;
    margin-bottom: 24px;
    /* background-color: aquamarine; */
}

.inform-item-l2{
    color: #5c5c5c;
    margin-left:24px;
    font-size: 1.2rem;
    /* background-color: rgb(22, 95, 71); */
}
.inform-item-l3{
    color:#4e4e4e;
    font-size: 1.2rem;
    margin-left:24px;
    margin-top:50px;
    margin-bottom: 32px;
    /* background-color: aquamarine; */
}

.inform-item-r:hover {
   
    background-color: #dddddd; 
}

.inform-r{
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-left:1px  solid #c9c9c9;
    flex: 2;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
}
.inform-item-r{
   height: 220px;
    
    display: flex;
    /* background-color: burlywood; */
    box-shadow: -2px 2px 2px 1px rgba(173, 173, 173, 0.2); /* เพิ่มบรรทัดนี้เพื่อเพิ่มเงา */
}
.inform-item-r-left{
    /* background-color: aquamarine; */
    margin-top:16px;
    margin-left: 16px;
    margin-bottom: 16px;
    width: 100%;
    height: auto;
   flex: 35%;
    
}
.inform-item-r-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.inform-item-r-right{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
    /* background-color: rgb(173, 173, 173); */
   flex: 65%;
   gap: 8px;
   
}
.inform-item-r-right a{
    color: rgb(0, 157, 255);
}
.inform-item-r-right h3{
    font-size: 1.5rem;
    color: rgb(64, 64, 64);
}
.inform-item-r-right p{
    
    color: #4e4e4e;
    font-size: 1.3rem;
    margin-right: 50px;
}


/*section-information-style*/


/*section-learning-style*/
.course{
    display: flex;
    /* background-color: rgb(238, 238, 238); */
    flex-direction: column;
    align-items: center;
}
.title-section-course{
    color: #4e4e4e;
   font-size: 3rem;
   font-weight: 700;
    margin-top: 32px;
    margin-bottom: 32px;
    /* background-color: blueviolet; */
}
.course-item{
  display: flex;
 margin-left: 72px;
    /* background-color: rgb(200, 125, 28); */
   gap: 32px;
   flex-wrap: wrap;
   margin-right: 72px;
   margin-bottom: 32px;
   justify-content: center;
  
   
}
.card-course{
    flex-grow: 1;
    flex-shrink: 1;
    width: 30%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.card-course-header {
    margin-bottom: 16px;
 }
.card-course-header img{
   
    height: auto;
    object-fit: cover;
  
    max-width: 100%;
    
}

.card-course-content{
    padding-left: 16px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 24px;
}
.card-course-content h3{
    color: #4e4e4e;
    font-size: 2rem;
}
.card-course-content p{
    color: #5c5c5c;
    font-size: 1.5rem;
}

/*section-learning-style*/


/*section-thesis-style*/
.thesis {
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}
.thesis-text{
    margin-top: 32px;
    margin-bottom: 32px;
    /* background-color: cadetblue; */
    color: #4e4e4e;
    font-size: 3rem;
    font-weight: 700;
}
.thesis-content{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    margin-bottom: 32px;
    margin-left: 24px;
    gap: 24px;
  
}
.thesis-left{
    flex: 3;
    /* background-color: brown; */
    
}
.text-left-item-1{
    margin-top: 24px;
    color: #4e4e4e;
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.text-left-item-2{
    color: #5c5c5c;
    margin-bottom: 32px
}

.thesis-right{
    flex: 2;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
}
.card-thesis:hover{
    background-color: #dddddd; 
}
.card-thesis{
    height: 220px;
    /* background-color: wheat; */
    display: flex;
    
    
}
.thesis-img{
    
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    flex:35%;
    /* background-color: aqua; */
}
.thesis-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thesis-text-right{
    gap: 8px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    display: flex;
    /* background-color: blueviolet; */
    flex:65%;
    flex-direction: column;
   justify-content: center;
}
.thesis-title-right{
    margin-right: 50px;
    font-size: 1.8rem;
    color: rgb(64, 64, 64);
}
.thesis-des-right{
    color: #4e4e4e;
    font-size: 1.3rem;
    margin-right: 50px; 
}



/*section-thesis-style*/










@media (max-width: 480px){
    .colmar-header{
        display: none;
    }
    
    .colmar-miniheader{
       
        height: 64px;
        background-color: rgb(96, 88, 72);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    }